/.gitignore~
/2010DillerCV.pdf
/2010DillerCV.tex
/2010DillerCV.tex~
/CAB resume.pdf
/CAB resume.tex~
/CBaker CV pdf embedded.doc
/CBaker CV.doc
/CBaker_CV 100216.pdf
/CBaker_CV.aux
/CBaker_CV.bbl
/CBaker_CV.blg
/CBaker_CV.log
/CBaker_CV.lyx
/CBaker_CV.out
/CBaker_CV.ps
/CBaker_CV.tex~
/CBaker_CV_April_11.pdf
/CBaker_CV_Spring11.aux
/CBaker_CV_Spring11.log
/CBaker_CV_Spring11.out
/CBaker_CV_Spring11.pdf
/CBaker_CV_Spring11.tex
/CBaker_CV_Spring11.tex~
/CBaker_CV_page1.png
/CBaker_CV_page2.png
/CBaker_CV_page3.png
/CBaker_Resume.aux
/CBaker_Resume.bbl
/CBaker_Resume.blg
/CBaker_Resume.log
/CBaker_Resume.out
/CBaker_Resume.tex~
/CBaker_resume_Ford.pdf
/CBaker_resume_Ford.tex
/CBaker_transCV.log
/CBaker_transCV.pdf
/CBaker_transCV.tex~
/CBresume.pdf
/Chad Baker CV vector.doc
/GE cover letter.docx
/Gath CV 2011.docx
/Gath Electro Phys Chem CB.doc
/Gath Electro Phys Chem CB2.doc
/Gath Electro Phys Chem.doc
/Gath Electro Phys Chem.pdf
/Gath Physical Chemist.doc
/Gath Resume Phys Chem (1429784).doc
/Gath Resume Phys Chem _1429784_.pdf
/Gath resume 031711 PhD.docx
/Gath resume 031711 PhD.pdf
/Gath,K Resume PhD.doc
/Malaya
/Resume final.doc
/Resume final.docx
/Resume final.pdf
/Timothy T Diller CV r5.pdf
/_region_.tex
/auto
/chad_baker_resume.pdf
/chad_baker_resume.tex~
/helvetica.sty
/personal_library.bib
/res1.pdf
/res1.tex
/res1.tex~
/res2.pdf
/res3.pdf
/res7.pdf
/res8.pdf
/res9a.tex
/res9b.log
/res9b.pdf
/res9b.tex
/res9b.tex~
/resume fellowship 10-07.docx
/resume.docx
/resume.tex
/sample-resume.aux
/sample-resume.log
/sample-resume.pdf
/sample-resume.tex
/tpavlic_cv.aux
/tpavlic_cv.log
/tpavlic_cv.out
/tpavlic_cv.pdf
/tpavlic_cv.tex
/~$aker CV.doc
/~$th Electro Phys Chem.doc
